.container{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar */
#navbar{
    position: fixed;
    width: 100%;
    padding: 1rem;
    background: beige;
}

#navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

#navbar .menu li{
    list-style: none;
    display: inline-block;
}

#navbar .menu li a{
    font-size: 18px;
    font-weight: 600;
    padding: 2px;
    margin: 0 1px;
    color: blue;
}

#navbar .menu li a:hover{
    color: #fff;
}

#info{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.about-me-header {
    width: 20%;
    border-right: 5px black solid;
    top: 60px;
    margin: 4px;
    padding: 10px;
    position: relative;
    text-align: right;
}

.about-me-p {
    padding: 26px;
    margin-inline-start: 270px;
}