body{
    background: beige;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
}

/* navbar */
.title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: rgba(135, 207, 235, 0.685);
    position: relative;
    font-size: 24px;
}

.nav-bar{
    display: flex;
    margin: 1em;
}

.nav-bar li{
    padding: 20px;
    list-style: none;
}

.nav-bar li a{
    font-size: 18px;
    font-weight: 600;
}

.nav-bar li a:hover{
    color: white;
}

/* banner */
#top{
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 100%;
    max-height: 
}

#top img{
    display: flex;
    width: 18%;
    padding: 20px;
}

.menu{
    display: flex;
    top: 0;
    margin: 1em;
    max-height: none;
    height: 100%;
}

header,

main{
    display: flex;
    flex-direction: column;
}

section{
    min-height: 300px;
}
h1,
h2,
p{
    /* placeholder */
     border: 3px solid black;
}