.container{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

h1{
    font-size: 35px;   
    font-weight: 500; 
}
h2{
    text-align: center;
    padding: 16px;
}
h3{
    padding: 16px;
}

.primary-color{
    color: skyblue;
}
.secondary-color{
    color: white;
}
.primary-text{
    color: black;
}

.margin{
    margin-left: 60px;
}
.btn{
    font-size: 18px; 
    display: inline-block;   
    padding: 8px;   
    margin: 8 0px;   
    background: blue;   
    color: #fff;   
    border-radius: 5px;  
    border: none; 
    }
.btn-2{
    font-size: 18px;
    display: inline-block;
    padding: 5px 8px;
    margin: 8px;
    border: blue solid;
    color: blue;
    border-radius: 5px;
}

/* navbar */
#navbar{
    position: fixed;
    width: 100%;
    padding: 1rem;
    background: beige;
}

#navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

#navbar .menu li{
    list-style: none;
    display: inline-block;
}

#navbar .menu li a{
    font-size: 18px;
    font-weight: 600;
    padding: 2px;
    margin: 0 1px;
    color: blue;
}

#navbar .menu li a:hover{
    color: #fff;
}

aside {
    border: 1px black solid;
    width: 33%;
    border-right: 3px green solid;
    min-height: 100vh;
    text-align: right;
}